@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Anton";
  src: url("@/assets/fonts/Anton/Anton-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Figtree";
  src: url("@/assets/fonts/Figtree/Figtree-VariableFont_wght.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Figtree";
  src: url("@/assets/fonts/Figtree/static/Figtree-Light.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Figtree";
  src: url("@/assets/fonts/Figtree/static/Figtree-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Figtree";
  src: url("@/assets/fonts/Figtree/static/Figtree-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Figtree";
  src: url("@/assets/fonts/Figtree/static/Figtree-SemiBold.ttf")
    format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Figtree";
  src: url("@/assets/fonts/Figtree/static/Figtree-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Figtree";
  src: url("@/assets/fonts/Figtree/static/Figtree-ExtraBold.ttf")
    format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Figtree";
  src: url("@/assets/fonts/Figtree/static/Figtree-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

/* Custom class to hide scrollbar */
.no-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

html {
  font-family: "Figtree", "Karla", "Cabin" !important;
}
